<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtutorialpoint.cardviewtutorial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BranchActivities.CivilActivity" />
        <activity android:name=".BranchActivities.CseActivity" />
        <activity android:name=".BranchActivities.EceActivity" />
        <activity android:name=".BranchActivities.EeeActivity" />
        <activity android:name=".BranchActivities.ItActivity" />
        <activity android:name=".BranchActivities.MechActivity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_First_A_Activity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_First_B_Activity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_Sec_A_Activity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_Sec_B_Activity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_Third_A_Activity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_Third_B_Activity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_Fourth_A_Activity" />
        <activity android:name=".AttendanceActivities.Civil.Civil_Att_Fourth_B_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_First_A_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_First_B_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_Sec_A_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_Sec_B_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_Third_A_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_Third_B_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_Fourth_A_Activity" />
        <activity android:name=".AttendanceActivities.Cse.Cse_Att_Fourth_B_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_First_A_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_First_B_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_Sec_A_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_Sec_B_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_Third_A_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_Third_B_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_Fourth_A_Activity" />
        <activity android:name=".AttendanceActivities.Eee.Eee_Att_Fourth_B_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_First_A_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_First_B_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_Sec_A_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_Sec_B_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_Third_A_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_Third_B_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_Fourth_A_Activity" />
        <activity android:name=".AttendanceActivities.Ece.Ece_Att_Fourth_B_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_First_A_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_First_B_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_Sec_A_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_Sec_B_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_Third_A_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_Third_B_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_Fourth_A_Activity" />
        <activity android:name=".AttendanceActivities.IT.It_Att_Fourth_B_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_First_A_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_First_B_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_Sec_A_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_Sec_B_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_Third_A_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_Third_B_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_Forth_A_Activity" />
        <activity android:name=".AttendanceActivities.Mech.Mech_Att_Fourth_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_First_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_First_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_Sec_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_Sec_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_Third_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_Third_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_Fourth_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Civil.Civil_Mar_Fourth_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_First_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_First_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_Sec_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_Sec_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_Third_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_Third_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_Fourth_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Cse.Cse_Mar_Fourth_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_First_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_First_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_Sec_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_Sec_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_Third_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_Third_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_Fourth_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Eee.Eee_Mar_Fourth_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_First_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_First_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_Sec_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_Sec_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_Third_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_Third_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_Fourth_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Ece.Ece_Mar_Fourth_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_First_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_First_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_Sec_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_Sec_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_Third_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_Third_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_Fourth_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.IT.It_Mar_Fourth_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_First_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_First_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_Sec_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_Sec_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_Third_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_Third_B_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_Fourth_A_Activity" />
        <activity android:name=".MarksActivities.MarksActivities.Mech.Mech_Mar_Fourth_B_Activity"></activity>
    </application>

</manifest>